<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.android.package-archive" />
        </intent>
    </queries>

    <application>
        <provider
            android:name="dev.jidan.shell.EmbeddedHandProvider"
            android:authorities="${applicationId}.embedded-hand"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
