<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_jidan"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_jidan"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        tools:ignore="UnusedTranslation">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="dev.jidan.reference.appfunctions.MemoAppFunctionService"
            android:permission="android.permission.BIND_APP_FUNCTION_SERVICE"
            android:exported="true">
            <property
                android:name="android.app.appfunctions.schema"
                android:value="app_functions_schema.xsd" />
            <property
                android:name="android.app.appfunctions.v2"
                android:value="jidan_memo_app_functions.xml" />
            <intent-filter>
                <action android:name="android.app.appfunctions.AppFunctionService" />
            </intent-filter>
        </service>

        <property
            android:name="android.app.appfunctions.app_metadata"
            android:resource="@xml/app_metadata" />
    </application>
</manifest>
